@model BlogMvcUI.Models.PostDetailViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

@*---Post Detail---*@
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">@Model.Post.Title</h2>
        <p class="card-text">@Html.Raw(Model.Post.PostContent)</p>
    </div>
    <div class="card-footer text-muted">
        Posted on : @Model.Post.UploadDate.ToString("dd/MM/yyyy")
    </div>
</div>

@*---Add Comment---*@
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form asp-action="Add" asp-controller="Comment">
            <div class="form-group">
                <textarea class="form-control" rows="3" name="postComment"></textarea>
            </div>
            <input type="hidden" name="postId" value="@Model.Post.Id" />
            <button class="btn btn-primary" type="submit">Add Comment</button>
        </form>
    </div>
</div>

@*---Control Comments---*@
@if (Model.Comments.Count == 0)
{
    <div class="alert alert-info" role="alert">
        Bu posta henüz hiç yorum yapılmadı !
    </div>
}

@*---Show Comments---*@
else
{
    <h5 class="card-header">Comments:</h5>
    @foreach (var comment in Model.Comments)
    {
        <div class="card my-4">
            <div class="card-body">
                <p class="card-text">@comment.PostComment</p>

            </div>
        </div>
    }
}
